/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #eee;
}

// loading
// from carbon/scss/components/loading/_keyframes.scss
$bx--ease-in: cubic-bezier(0.25, 0, 1, 1); // Used primarily for removing elements from the screen.
$bx--ease-out: cubic-bezier(0, 0, 0.25, 1); // Used for adding elements to the screen or changing on-screen states at a users's input.
$bx--standard-easing: cubic-bezier(0.5, 0, 0.1, 1); // Used for the majority of animations.

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-end-p1 {
  100% { transform: rotate(360deg); }
}

@keyframes rotate-end-p2 {
  100% { transform: rotate(-360deg); }
}

/* Stroke animations */
@keyframes init-stroke {
  0% { stroke-dashoffset: 240; }
  100% { stroke-dashoffset: 40; }
}

@keyframes stroke-end {
  0% { stroke-dashoffset: 40; }
  100% { stroke-dashoffset: 240; }
}

.bx--loading {
  //@include reset; carbon calls a reset, but I think we'll be okay without it
  //10.5rem in carbon, 1rem = 16px there (our rem is different, so that would be 168px, but default
  //to our timeline height).
  width: 100%;
  height: 100%;
  // adding explicit display rule because the Angular component tag doesn't have one by default
  display: block;

  // From Carbon mixin animation__loading--spin;
  // Animate the container
  animation-name: rotate;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  // Animate the stroke
  & svg circle {
    animation-name: init-stroke;
    animation-duration: 1000ms;
    animation-timing-function: $bx--standard-easing;
  }
}

// Animation (Spin by default)
.bx--loading__svg {
  fill: transparent;
  stroke: #3c4646;
  stroke-width: 7;
  stroke-linecap: butt;
  stroke-dasharray: 240;
  stroke-dashoffset: 40;
}

.bx--loading--stop {
  // from Carbon @include animation__loading--stop;
  // Animate the container
  animation: rotate-end-p1 700ms $bx--ease-out forwards, rotate-end-p2 700ms $bx--ease-out 700ms forwards;

  // Animate the stroke
  & svg circle {
    animation-name: stroke-end;
    animation-duration: 700ms;
    animation-timing-function: $bx--ease-out;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
  }
}

.bx--loading--small {
  width: 35px;
  height: 35px;

  .bx--loading__svg {
    stroke: #8c9ba5;
  }
}

.mat-simple-snackbar-action {
  color: #f1c21b;
}
